
@media (min-width: 728px) {
  
  
  .home-abt h3 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font: 40px "Lato", sans-serif;
	color: #111;
	padding:0 0 20px 0;
  }
  
  
  
     /*  SERVICES  STYLE RULES */
  
.mother{
    display:flex;
    justify-content:center;
align-items: center;
gap:30px;
}


  .service-card{
  padding-bottom:35px;
  width:60%;

  }


  .mo-services,
   .home-abt,
    footer,
    #faq{
padding:8%;
  }
  
  .serv-img-card{
  
    }
  
  
  .serv-btn-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }
  
  
  .serv-btn-card button{
	margin-bottom:25px;
	width:200px;
  }
  
  
  .service-image-card{
	display:flex;
	flex-direction: row;
    justify-content:space-between;
  }
  
  .service-image-card img{
	width:230px;
  }
  


.hide-card{
display:none;
}

.serv-img-details-mother{
    display:flex;
	flex-direction: row;
    justify-content:space-between;
    align-items: center;
   
}

.serv-img-details-mother span{
  width:230px;
}


   /* FOOTER STYLE RULES */

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ; 
    padding:100px 50px 50px 7%; ;
}



   .foot-mother{
display:flex;
justify-content: space-evenly;
gap:50px;

}

footer h3{
	width:600px;
    font-size: 100%;
}

.one{
    position:relative;
    top:-70px;
}

}