@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Satisfy&display=swap');

*{
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;

 }

a{
	color:white;

	
}

body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
	background-color: var(--color-light-black);
	}
  

	

	:root {
		--color-bg: #f4efe9;
		--color-second-bg: #fff7fe;
		--color-light-purple:rgb(203 0 153);
		--color-dark-purple:rgb(141 0 107);
		--color-alt: #faeec818;
		--color-light-black: rgb(1 1 1);
		--box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.05);
	  }
	  
	 /*  HEADER BACKGROUND IMAGE FOR ALL PAGES  STYLE RULES */

	  .header-2 {
		position: relative;
	opacity: 9;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  z-index: 1;	
	  background-image: url("assets/images/The royal/royal (4).jpg");
	  position:relative;
	  padding-top:200px;
	  text-align: center;
	  background-blend-mode: overlay;
	  background-color: rgba(43, 2, 43, 0.623);
	  }
	 
 /*  HEADER BACKGROUND IMAGE FOR ALL PAGES  STYLE RULES */




 /*  Whatsapp  STYLE RULES */


/* WHATSAPP FIXED ICON */
.chat{
    position:fixed;
     top:93%;
     display:flex;
     justify-content:right;
     align-items:right;
    right:20px;
    z-index: 99999;
    
    }
    
    .chat-text{
    background-color:white;
    width:110px;
    text-align:center;
    border-radius:8px;
    line-height:1.7;
    font-weight:500;
     height:27px;
     display:none;
  
    }
    
    .whatsapp-img{
    border-radius:100%;
    height:40px;
     width:40px;
    margin-top:-9px;
    animation: scaleUp 3s ease-in-out infinite;
    }
  

    @keyframes scaleUp {
 
        0%,
        100% { transform: translateY(0) scale(1); }
        
        50% { transform: translateY(-5px) scale(1.05);}
        
        }
/* WHATSAPP FIXED ICON */

 


.scrollTop{
  position:fixed;
  bottom:30px;
  right:30px;
  background-color: black;
  color:white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  z-index: 9999;
  padding: 10px;
  border-radius:30px;
}

 /* END OF  SCROLL TO TOP STYLE RULES */
  



  /*  HEADER STYLE RULES */

header{
background-color:black;
 height:120px;
 display:flex;
  width: 100%;
  top:0px;
  position:fixed;
  z-index: 9999;
  text-align: center;
  justify-content:center;
}


.logo-card{
position: absolute;
display:flex;
text-align: center;
justify-content:center;
	top:10px;
}


 /*  MENU BTN / NAVIGATION  STYLE RULES */


 .menu-btns{
	position:absolute;
   left:17px;
	 z-index:1;
	top:50px;
	   width:30px;
	   height:30px;
	   color: var(--color-light-purple);
	   display:flex;
	   justify-content:center;
   }
   
   .menu-btns i{
	   font-size:30px;
	   
	  }
   
   
   #menu-bar{
   display:flex;
   flex-direction:column; 
   position:absolute;
   background-color: var(--color-light-black);
   height:300px;
   transition: all 0.4s ease;
   top:100;
   width:100%;
   gap:20px;
	right:0px;
	z-index:4;
	 overflow:hidden;
	text-align:left;
	box-shadow:  0 1px 0  rgba(128, 128, 128, 0.452);
   }
   
   .nav-link a{
	text-decoration:none;
   color:  var(--color-light-purple);
	font-weight:500;
	font-size:14px;
   }
   
   
   
   .nav-link{
	display:flex;
   flex-direction:column;
	position:relative;
	top:px;
	margin:13px;
	   font-weight:bold;
	   font-family: 'Orbitron', sans-serif;
	   right:-10px;
   }




   #special-btn{
   background-color:var(--color-dark-purple);
   color:white;
   width:130px;
   text-align: center;
   line-height: 2.2;
   color:white;
   border-radius:5px;
   }
   
   #special-btn a{
	   color:white;
	   }
	   
   
   .slide{
   left:-100%;
   }
   
   
   .hide{
   visibility:hidden;
   z-index:1;
   }
   
   .open{
   position:absolute;
   
   }
   

/* HOME 
CONTENTS
STYLE RULES */

.home-img,.home-big-img{
	width:100%;
	animation:zoomInOut 15s linear infinite;
   }
   
   
   @keyframes zoomInOut{
   0%,100%{
	transform:scale(1);
   }
   
   50%{
	transform:scale(1.3);
   }
   
   
   }
   


  .home-abt{
	color: #777;
	background-color:white;
	text-align:center;
	padding:180px 20px 30px 20px;
	text-align: left;
  }
  
  .home-abt h3 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font: 30px "Lato", sans-serif;
	color: var(--color-light-purple);
	padding:0 0 20px 0;
  }
  
  
  
   /*  PAGE BUTTONS   STYLE RULES */
  .mybtn-card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:20px;
  }
  
  
  .mybtn-card button{
  line-height: 3.5;
  width:270px;
  background-color: var(--color-dark-purple);
  border:none;
  border-radius:5px;
  color:white;
  }
  
  
   /*  SERVICES  STYLE RULES */
  
  .mo-services{
	color:#777;
	background-color:var(--color-second-bg);
	text-align:center;
	padding:30px 20px 30px 20px;
	text-align: left;
  }
  
  
  
  .mo-services h1{
	color: var(--color-light-purple);
  font-weight:100;
  font-size: 35px;
  }
  
  .mo-services h3{
	color: var(--color-light-purple);
	font-weight:100;
  }
  
   .serv-card {
	    padding-bottom:50px;
   }
  
  .service-card{
  padding-bottom:35px;
  }
  
 .serv-img-card{
width:100%;

	}
	
  
  .service-card img{
  padding: 10px 0 20px 0;
width: 100%;
  }
  
  .serv-btn-card{
  display: flex;
  flex-direction: column;
  }
  
  
  .serv-btn-card button{
	margin-bottom:25px;
	width:200px;
  }
  
  
  
  .serv-img-details-mother p{
   padding-bottom:22px;
  }


/* SERVICES AND PACKAGES STYLE RULES */

.packages{

}


.packages h1{
	color:var(--color-light-purple);
	line-height:1.2;
	
}


.service-serv{
	padding-top:20px;
	padding-bottom:20px;
	display:flex;
	flex-direction:column;
	
}

.service-serv span{
	padding-bottom:30px;
	display:flex;
	flex-direction:row;
	gap:20px;
}

.serv-serv-card,.service-card{
background-color:var(--color-alt);
	padding:20px;
}


.serv-serv-card h1{
color:var(--color-light-purple);
	padding-top:40px;
	
}


.serv-serv-card h4{
padding-top:10px;
	padding-bottom:10px;
	color:var(--color-light-black);
	
}

.star{
color:#eded0d;
}

.gold-children-mother{
padding-top:50px;
	display:flex;
	flex-direction:column;
	padding-bottom:20px;
}

.gold-children-mother span{
padding-bottom:10px;
	display:flex;
	flex-direction:row;
	color:var(--color-dark-purple);
	font-weight:bold;
	gap:20px;
}

.gold-children-mother span i, .service-serv span i{
padding-top:6px;
}



/*-----------------------------------*\ 
  #AWARDS AND RESPONSIBILITY
\*-------------------------------------*/

.award-img-card{
height:250px;
overflow: hidden;
}


.awards{
display: flex; 
flex-direction: column;
 gap: 50px;
  padding-top: 20px;
}
/*-----------------------------------*\ 
  #BE A CHEF
\*-------------------------------------*/


.be-chef-img-card{
	display:flex;
	 justify-content:center;
	 align-items:center;
	 width:90%;
	 height:320px;
	 overflow:hidden;
	 border-radius:10px;
	}
	

	.be-chef-img-card img{
		aspect-ratio: 4.8;
		}
		

	
	.home-img{
	 width:100%;

	}
	
	
	

	
	
	#be-a-chef{
	 background-color:var(--color-alt);
	 margin-top:70px;

	 display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 padding-bottom:40px;
	  padding-top:70px;
	}
	
	
	.be-chef-text-card{
	  padding-bottom:40px;
	  display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
	}
	
	.be-chef-text-card p{
	padding:30px;

	font-weight: bold;
	}
	
	.be-chef-text-card h1{
	text-align:center;
	 font-size:17px;
	 padding:20px;
	 border: 3px solid #db5207;
	 width:200px;
	border-radius:20px;
	 color:#db5207;
	}
	
	
	.be-chef-text-card h3{
	 font-size:24px;
	 color:var(--color-light-purple);
	 font-weight: bold;
	}
	
	.be-chef-text-card a{
	text-decoration:none;
	}
	
	

	@media (min-width: 768px) {

		
	  
	  /*-----------------------------------*\ 
		#BE A CHEF
	  \*-------------------------------------*/
	  
	  
	  .be-chef-img-card{
	  display:flex;
	   justify-content:center;
	   align-items:center;
	   width:90%;
	   height:320px;
	   overflow:hidden;
	  }
	  
	  
	  .home-img{
	   width:100%;
	  
	  }
	  
	  
	
	  
	  #be-a-chef{
	 
	   margin-top:70px;
	   
	   display:grid;
		grid-template-columns: repeat(2,1fr) ;
	   justify-content:center;
	   align-items:center;
	   padding-bottom:70px;
		padding-top:70px;
	  }
	  
	  
	  .be-chef-text-card{
		padding-bottom:40px;
		display:flex;
	   flex-direction:column;
	   justify-content:center;
	   align-items:center;
	   text-align:center;
	  }
	  
	  
	  
	  
	  .be-chef-text-card h3{
	   font-size:24px;
	  }
	  
	}
	  





/* FAQ STYLE RULES */

#faq{
	padding-bottom:30px;
	 padding-top:30px;
	 display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background-color: white;;
   }

   #faq h1{
	padding-bottom:20px;
	color: var(--color-light-purple);
	font-size: 40px;
	line-height:1.3;
	padding:30px;
	text-align: center;
   }



   .faq-mother{
	
	 color:var(--color-light-black);
	 border-radius:5px;
	margin:0px;
   padding-bottom:15px;
	padding-top:15px;
	width:90%;
	border:2px solid var(--color-light-black);

   }
   
   .faq-mother hr{
	background-color:black;
	width:100%;
	border:none;
	height:1px;
   }
   
   .faq-header{
	 padding:10px;
	 font-size:14px;
	 cursor:pointer;
	 position:relative;
  font-weight:bold;

   }
   
   
   .faq-header::after{
	 content:"\002B";
	 font-size:20px;
	position:absolute;
	 right:1rem;
	top:5px;
	color:black;
   }
   
   .faq-header.active::after{
	content:"\2212";
   }
   
   .faq-answer-content{
	padding:15px;
	  font-size:14px;
	border-top:1px solid black;
	border-image:linear-gradient(to right,purple,white,purple)1; 
   }
   
   .faq-answer{
	max-height:0;
	overflow:hidden;
	transition: max-height 0.2s ease-out;
   }
   
   .faq-header.active + .faq-answer{
	max-height:1000px;
   }
   
  

   /* END OF FAQ STYLE RULES */
   
 

   footer{
padding:50px 50px 50px 20px ;
background-color: black;
color:white;
	 }



	 .foot-social{
		display:flex;
		gap:20px;
justify-content: start;
align-items: center;
padding-bottom:20px;
		}



.foot-social i{
	border:2px solid var(--color-light-purple);
	border-radius:100px;
	position:relative;
	padding:17px;
	background-color:var(--color-light-purple);
	
	}

	
	

footer h1{
	font-size: 23px;
	font-weight: 300;
	padding: 10px 0 10px 0;
	color:var(--color-light-purple);
}
	   

footer p {
	font-weight: 100;
}
	   
.foot-mother{
	padding-bottom:10px;
	width:85%;
	position:relative;
}


footer h3{
	padding-bottom:30px ;
	padding-top:10px;
	font-size: 14px;
	font-weight: 100;
	
}




	@media (min-width: 1024px) {

	.menu-btns{
		visibility: hidden;
	   }
	   
	   .logo-card{
		position:relative;
		left:-400px;
	
		font-weight:bold;
	  }
	  
	   
	   
	   #menu-bar{
		display:flex;
        flex-direction:row; 
        z-index:99999;
        position:relative;
       height:100px;
       background-color:transparent;
         visibility: visible;
         justify-content:right;
         top:-20px;
          visibility: visible;
         left:-50px;
		 box-shadow: none;
	   }
	   
	   .nav-link a{
		text-decoration:none;
	   color: var(--color-light-purple);
		font-weight:500;
		font-size:17px;
	   }
	   
	   
	   
	   .nav-link{
		font-weight:600;
    top:45px;
    font-size:58px;
     display:inline-flex;
     visibility: visible;
          margin:15px;
                  border:none;
				  z-index: 1;
	   }
	   

	   .nav-link a:hover{
		text-decoration:none;
		color:var(--color-bg);
	   } 
	   

	   #special-btn{
	   
	   color:white;
	   width:130px;
	   text-align: center;
	   line-height: 2.2;
	   color:white;
	   border-radius:5px;
	   }
	   
	   #special-btn a{
		   color:white;
		   }
		   
		   #special-btn a:hover{
			background-color: var(--color-light-purple);
			color: var(--color-bg);
			}
			
	   
	   .slide{
	    visibility: visible;
           left:-40px;
	   }
	   
	   
	   .hide{
	   visibility:hidden;
	   z-index:1;
	   }
	   
	   .open{
	   position:absolute;
	   
	   }
	   

	   .logo-card{
		position:absolute;
	  display:flex;
		  left:8%;
		  top:10px;
	  }
	  

	}

